<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ entity_print_css }}
  </head>
  <body>
    <div class="page">
      <div class="bordered">
        <div class="logo">{{ site_logo }}</div>
        <div class="business-logo">{{ field_business_logo }}</div>
        <div class="title">Your free coffee</div>
        <div class="voucher-image"> {{ field_reward_image }}</div>
        <div class="validity">THIS VOUCHER IS VALID UNTIL {{ validity }}</div>
        <div class="voucher-code"><span>{{ voucher_code }}</span></div>
      </div>
      <div class="terms">
        <label>Terms and conditions:</label>
        <div class="terms-content">
          {{ field_terms_and_conditions }}
        </div>
      </div>
    </div>
  </body>
</html>
